<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Jumpstart</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <div class="flex-wrapper">

        <img id="logo" src="{{ url_for('static', filename='jumpstart_logo.png')}}">
        <div class="topnav">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('discover')}}">Discover</a>
            <a href="{{ url_for('contribute')}}">Contribute</a>
            <a href="{{ url_for('about')}}">About</a>
            <input type="text" placeholder="search projects...">   
        </div>
        <div class="account">
           
            <button class="button sign-up">Sign up</button>
            <a id="login-link" href="{{ url_for('login')}}"> 
                <button class="button log-in">Log in</button>
            </a>
        </div>
    </div>
    
    {% block body %}
    {% endblock %}
    
</body>
</html>